<!--HERO SECTION-->
<section class="hero">
  <div class="gap px-2">
    <h1>Bridging the gap</h1>
    <h2>Business &nbsp; technology</h2>
    <p>We develop and retain a competitive edge in the technology world.</p>
  </div>
</section>

<!--MAIN CONTAINER-->
<section id="main-container">
  <div class="about">
    <div class="intro">
      <h2 class="text-center abt-header">About Us</h2>
      <p class="abt-info">Olulabs technologies is a leading enterprise
        information technology solutions and services providers
        with experience in providing a cutting edge technological
        business solutions and services across the world.<br> </p>
      <button>Our Team</button>
    </div>
  </div>
  <section class="chatter">
    <div class="mission">
      <h2 class="text-center">Mission</h2>
      <p class="">To provide our clients with the most effective solutions to empower them better serve
        their customers</p>
    </div>

    <div class="vision">
      <h2 class="text-center">Vision</h2>
      <p class="">To be true system integrators bridging the gap between business and technology</p>
    </div>
  </section>
</section>