<!--NAVIGATION-->
<nav class="header-nav">
  <div class="container">
    <!--BRANDING-->
    <div class="brand">
      <a href="#">
        <img class="logo"  src="/assets/images/olu1.png" alt="Olulabs Inc Logo">
        <span>Olulabs</span>
      </a>
    </div>
    <!--SEARCH--> 
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
      <form>
        <input class="search-box" aria-label="Search" placeholder="What can we help you find?" type="search">
        <button class="search-button" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

 <!--HERO SECTION-->
<section class="hero">
  <div class="container">

  </div>
</section>

<!--MAIN CONTAINER-->
<div class="container">
  <section>
    <div class="statement">
      <h2>About Us</h2>
      <p>Olulabs technologies is a leading enterprise 
        information technology solutions and services providers 
        with experience in providing a cutting edge technological 
        business solutions and services across the world.<br> </p>
    </div>
  </section>
  <section>
    <div class="statement">
      <h2>Mission</h2>
      <p>To provide our clients with the most effective solutions to empower them better serve their customers</p>
    </div>
    <div class="statement">
      <h2>Vision</h2>
      <p>To be true system integrators bridging the gap between business and technology</p>
    </div>
  </section>
</div>

<!--FOOTER-->
<footer>
  <section class="container">
    <div>
      <div class="text-primary link-header">CUSTOMER SUPPORT</div>
      <ul>
        <li><a href="#">CONTACT US</a></li>
        <li><a href="#">SITE MAP</a></li>
      </ul>
    </div>
    <div>
      <div class="text-primary link-header">COMPANY INFO</div>
      <ul>
        <li><a href="#">About US</a></li>
        <li><a href="#">Mobile Apps</a></li>
      </ul>
    </div>
    <div class="social">
      <div class="text-primary link-header">FOLLOW US</div>
      <ul>
        <li><a class="twitter" href="#"></a></li>
        <li><a class="facebook" href="#"></a></li>
        <li><a class="Whatsapp" href="#"></a></li>
      </ul>
      <div class="newsletter">
        <div class="link-header">Email Updates</div>
        <div class="link-subheader">Exclusive sales, special offers, and more.</div>
        <input class="form-control" type="text" placeholder="Enter email address" />
        <button class="btn btn-primary">Sign up</button>
      </div>
    </div>
  </section>
  <div class="text-primary copyright">&copy;Olulabs 2020</div>
</footer>