<!--HERO SECTION-->
<section class="hero">
  <div class="gap px-2">
    <h1 class="text-center">Bridging the gap</h1>
    <a class="mail py-2 btn mx-auto d-block" role="button" href="#">Send us an email</a>
  </div>
</section>

<!--MAIN CONTAINER-->
<section id="main-container">
  <div class="about py-4">
    <div class="intro px-5">
      <h2 class="text-center abt-header">About Us</h2>
      <p class="abt-info py-4 text-center">Olulabs technologies is a leading enterprise
        information technology solutions and services providers
        with experience in providing a cutting edge technologicals
        business solutions and services across the world.<br> </p>

      <a class="team btn mx-auto d-block" role="button" href="#">Our Team</a>
    </div>
  </div>
  <section class="chatter py-5">
    <div class="mission">
      <h2 class="text-center">Mission</h2>
      <p class="py-3 px-5 text-center">To provide our clients with the most effective solutions to empower them better serve
        their customers</p>
    </div>

    <div class="vision">
      <h2 class="text-center">Vision</h2>
      <p class="py-3 px-5 text-center">To be true system integrators bridging the gap between business and technology</p>
    </div>
  </section>
</section>