/* You can add global styles to this file, and also import other style files */

/*************  BASE STYLES  ****************/
*{ box-sizing: border-box; }
body { font-family: 'Open Sans', 'sans serif'; font-size: 16px; line-height: 1.4; color: #2f383d; margin: 0; }
a { color: #fff; text-decoration: none;}

a :hover {
    color: var(--primary);
}
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/********************************************/

/*************  CSS VARIABLE  ***************/
:root {
    --primary: #06618e;
    --danger: #0069a6;
    --dark: #a0a0a0;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


/*BRANDING*/
.navbar {
    background-color: #333333;
}
.navbar span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #f3f3f3;
}

#logo {
    width: 40px;
}

.mail {
    background-color: #0069a6;
    color: #f3f3f3;
    width: 200px;
    font-size: 16px;
    border-radius: 0;
}
.hero {
    background-image: url('/assets/images/f5.png');
    height: 400px;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}

.hero div {
    color: #333333;
}

.hero div h1 {
    color: #2d2d2d;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}


.gap{
    float: right;
    margin-right: 80px;
}

.team {
    background-color: #e7d618;
    color: #126792;
    border-radius: 0;
    border-color: #e7d618;
    width: 120px;
}

.team a:hover {
    background-color: #e9de21;
}
/*********MAIN CONTAINER************/

.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    grid-template-areas: 'intro intro intro';
}

.intro{
    grid-area: intro;
    grid-column: 1/4;
}

/*Small devices/Potrait Tablets*/
@media only screen and (min-width: 600px) {
    .about {
        height: auto;
        font-size: 16px;
    }
}

/*Medium devices/landscape tablets*/
@media only screen and (min-width: 768px) {
    .about {
        height: auto;
    }
}

/*Large devices*/
@media only screen and (min-width: 992px) {
    .about {
        height: auto;
    }
}

/*Extra large devices*/
@media only screen and (min-width: 1200px) {
    .about {
        height: 400px;
    }
}


/************MISSION & VISION SECTION*/
.chatter {
    background-color: #f1f1f1;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'mission vision';
}

.mission {
    grid-area: mission;
    grid-column: 1/2;
}

.vision {
    grid-area: vision;
    grid-column: 2/3;
}

/*Extra small devices*/
@media only screen and (max-width: 600px) {
    .chatter {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'mission'
                             'vision';
    }

    .mission {
        grid-area: mission;
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .vision {
        grid-area: vision;
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

/*Small devices/Potrait Tablets*/
@media only screen and (min-width: 600px) {
    .chatter {
        height: 250px;
        font-size: 16px;

    }
}



/**********FOOTER**************/
.footer {
    background-color: #131413;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 50vh;
}

.footer h1 {
    color: var(--danger);
    font-size: 1.4em;
}
.footer p {
    color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: auto;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'support'
        'info'
        'sosio';
    }

    .support {
        grid-area: support;
        grid-row: 1/2;
    }
    
    .info {
        grid-area: info;
        grid-row: 2/3;
    }

    .sosio {
        grid-area: sosio;
        grid-row: 3/4;
    }
}

/*Small devices/Potrait Tablets*/
@media only screen and (min-width: 600px) {
    .footer {
        height: auto;
        font-size: 18px;
    }
}

/*Medium devices/landscape tablets*/
@media only screen and (min-width: 768px) {
    .footer {
        height: auto;
    }
}

@media only screen and (min-width: 992px) {
    .about {
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        height: 400px;
    }
}
.copyright {
    text-align: center;
    background-color: #333333;
    height: auto;
}

.copyright p {
    color: var(--light);
}