/* You can add global styles to this file, and also import other style files */

/*************  BASE STYLES  ****************/
*{ box-sizing: border-box; }
body { font-family: 'Open Sans', 'sans serif'; font-size: 14px; line-height: 1.4; color: #2f383d; margin: 0; }
a { color: #ff9900; text-decoration: none;}
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/********************************************/

/*************  CSS VARIABLE  ***************/
:root {
    --primary: #06618e;
    --danger: #ff9900;
    --dark: #a0a0a0;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


/*BRANDING*/
#logo {
    width: 30px;
}



/*********MAIN CONTAINER************/
.myGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas:
    'about about'
    'mission vision'
    ;
}

.about {
    grid-area: about;
    grid-column: 1/3;
}

.mission {
    grid-area: mission;
    grid-column: 1/2;
}

.vision {
    grid-area: vision;
    grid-column: 2/3;
}

@media (max-width: 576px) {
    .myGrid {
        grid-template-areas: 
        'about'
        'mission'
        'vision'
        ;
    }

    .about {
        grid-column: 1/3;
    }

    .mission {
        grid-column: 1/3;

    }

    .vision {
        grid-column: 1/3;
    }
}

/**********FOOTER**************/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    grid-template-areas: 
    'support info social-media'
    'support info social-media'
    'support info social-media'
    ;
}

.support {
    grid-area: support;
    grid-column: 1/2;
}

.info {
    grid-area: info;
    grid-column: 2/3;
}

.social-media {
    grid-area: social-media;
    grid-column: 3/4;
}

@media (max-width: 576px) {
    .footer {
        grid-area: 
        'support'
        'info'
        'social-media';
    }
    .support{
        grid-column: 1/4;
    }

    .info {
        grid-column: 1/4;
    }

    .social-media {
        grid-column: 1/4;
    }
}
