/* You can add global styles to this file, and also import other style files */

/*************  BASE STYLES  ****************/
*{ box-sizing: border-box; }
body { font-family: 'Open Sans', 'sans serif'; font-size: 14px; line-height: 1.4; color: #2f383d; margin: 0; }
a { color: #ff9900; text-decoration: none;}
ul { padding: 0; margin: 0; list-style: none; }
nav { padding: 10px 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
/********************************************/

/*************  CSS VARIABLE  ***************/
:root {
    --primary: #06618e;
    --danger: #ff9900;
    --dark: #a0a0a0;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


/*BRANDING*/
.logo {
    width: 70px;
}
